.main-container {
    display: flex;
    align-items: flex-center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-box {
    width: 50%;
    text-align: center;
    order: 1;
    flex-basis: 40%;

}

.threats {
    text-align: left;
    width: 50%;
    color: white;
    order: 2;
    flex-basis: 40%;
    flex: 6;
}

.header {
    color: white;
}


textarea {
    width: 250px;
    height: 425px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

body {
    background: black;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}
