.main-container {
    display: flex;
    align-items: flex-center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-box {
    order: 1;
    flex-basis: 40%;
}

.threats {
    color: white;
    order: 2;
    flex-basis: 40%;
}

.header {
    color: white;
}


/*textarea {
    width: 40%;
    height: 425px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}*/

body {
    background: black;
}

