<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>ThreatFinder</title>
</head>

<body>
    <div class="main-container">
        <div class="input-box">
            <div class="header">
                <h1>
                    Uber ThreatFinder
                </h1>
                <p>
                    Finds Pokemon that your team can't check.
                </p>
            </div>

            <p1>
                <form method="POST" action="/result">
                    <textarea name="team" placeholder = "Paste your team here in Pokemon Showdown format."></textarea>
                    <br><br/>
                  <input type="submit" value="Check for Threats!">
                </form>
            </p1>
        </div>

        <div class="threats">
            <p>
                <pre>
                    {{ team }}
                </pre>
            </p>
        </div>

    </div>


</body>

</html>