<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>TeamBreaker</title>
</head>

<body>
    <h1>
        Uber TeamBreaker
    </h1>
    <p>
        Finds Pokemon that your team can't check.
    </p>

    <p1>
        <form method="POST" action="/result">
            <textarea name="team" placeholder = "Paste your team here in Pokemon Showdown format."></textarea>
            <br><br/>
          <input type="submit" value="Break my team!">
        </form>
    </p1>
</body>

</html>